body {
    font-family: Arial;
    margin: 0;
    background: #fafafa;
}

.navbar {
    background: #fff;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.post {
    width: 400px;
    margin: 30px auto;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
}